// Copyright (c) 2022 The ZMK Contributors
// SPDX-License-Identifier: MIT

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

// Home row mods macro
#define HRML(k1,k2,k3,k4) &ht LSHFT k1  &ht LALT k2  &ht LCTRL k3  &ht LGUI k4
#define HRMR(k1,k2,k3,k4) &ht RGUI k1  &ht RCTRL k2  &ht RALT k3  &ht RSHFT k4


// Layers
#define BASE 0
#define SYM 1
#define EXT 2
#define FNC 3
#define SYM2 4
#define SETTINGS 5

/ {
    behaviors {
        ht: hold_tap {
            label = "hold_tap";
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <220>;
            quick-tap-ms = <150>;
            global-quick-tap;
            bindings = <&kp>, <&kp>;
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";
        tri_layer {
            if-layers = <1 2>;
            then-layer = <3>;
        };
    };

    keymap {
        compatible = "zmk,keymap";
        default_layer {
            bindings = <
            &kp Q &kp W &kp F &kp P &kp B &kp J &kp L &kp U &kp Y &kp APOS
            &kp A &kp R &kp S &kp T &kp G  &kp M &kp N &kp E &kp I &kp O
            &kp Z &kp X &kp C &kp D  &kp V &kp K &kp H &kp COMMA &kp PERIOD &kp SEMICOLON
            &mo EXT &kp SPACE &kp LSHIFT &sl SYM
            >;
        };

        sym_layer {
            bindings = <
            // ! @ # $ %  ^ & * - + 
            &kp EXCL &kp AT_SIGN &kp HASH &kp DOLLAR &kp PERCENT &kp CARET &kp AMPS &kp ASTRK &kp MINUS &kp PLUS
            // < ( { [ / 
            &kp LT &kp LPAR &kp LBRC &kp LBKT  &kp FSLH    &kp APOS &kp PIPE &kp GRAVE &kp UNDERSCORE &kp EQUAL
            &kp GT &kp RPAR &kp RBRC &kp RBKT  &kp BSLH    &kp DQT &kp PIPE &kp TILDE &kp COLON &kp QMARK
            &trans &trans &trans &trans
            >;
        };

		    ext_layer {
        		bindings = <
        		&kp ESC  &trans &trans  &trans  &trans    			        &kp PG_UP  &kp HOME &kp END &kp CAPS &kp DEL
        		&sk LALT &sk LGUI  &sk LSHIFT  &sk LCTRL  &kp RALT 			&kp PG_DN &kp LEFT  &kp UP &kp DOWN &kp RIGHT
        		&kp LC(Z)  &kp LC(X) &kp LC(C) &kp TAB   &kp LC(V)          &kp LC(BSPC) &kp BSPC &trans &trans  &trans
        					                        &trans &kp LCTRL    &kp ENTER  &key_repeat
        		>;
    		};


    };
};
